<div id="dashboardJobView" class="lightBorder">
    <div id="dashboardJobViewHeader">
        <div id="dashboardJobViewHeaderInfo">
            <span id="dashboardJobViewHeaderInfoTitle"></span>
            <span id="dashboardJobViewHeaderInfoSubtitle"></span>
        </div>
    </div>
    <div id="dashboardJobViewBody">
<pre id="dashboardJobViewBodyText">
    <div style="height: 100%; width: 100%; display: flex;justify-content: center;align-items: center; font-size: 20px;">No Jobs Found</div>
</pre>
    </div>
    <div id="dashboardJobViewBtns" style="display: none;">
        <button class="dashboardJobViewBtn">Discussion</button>
        <button class="dashboardJobViewBtn" onclick="generateDialog('deleteJob')">Delete</button>
    </div>
</div>