<div id="dashboardJobs" class="lightBorder">
    <div id="dashboardJobsHeader">
        <span id="dashboardJobsHeaderTitle">Jobs</span>
        <div id="dashboardJobsHeaderBtns">
            <button class="dashboardJobsHeaderBtn themedBtn lightBorder" onclick="filterByStatus('all',this)">All</button>
            <button class="dashboardJobsHeaderBtn lightBorder" onclick="filterByStatus('Active',this)">Active</button>
            <button class="dashboardJobsHeaderBtn lightBorder" onclick="filterByStatus('Hired',this)">Hired</button>
            <button class="dashboardJobsHeaderBtn lightBorder" onclick="filterByStatus('Dispute',this)">Dispute</button>
            <button class="dashboardJobsHeaderBtn lightBorder" onclick="filterByStatus('Archived',this)">Archived</button>
        </div>
    </div>
    <div id="dashboardJobsBody">
        <div style="height: 100%; width: 100%; display: flex;justify-content: center;align-items: center; font-size: 20px;">No Jobs Found</div>
    </div>
</div>