<link rel="stylesheet" href="/stylesheets/tagify.css">
<link rel="stylesheet" href="/stylesheets/flatpickr.min.css">
<div id="dialogDiv">
    <div id="dynamicForm" class="dialog">

    </div>
</div>
<script src="/scripts/tagify.js"></script>
<script src="/scripts/tagify.polyfills.min.js"></script>
<script src="/scripts/flatpickr.js"></script>