<div id="jobList" class="lightBorder">
<!--     <div class="jobListing lightBorder selected">
        <span class="jobListingTitle">Graphic Designer for Website Redesign</span>
        <span class="jobListingDate">05/11</span>
        <p class="jobListingShortDesc">We are seeking a talented graphic designer to revamp our website's visual appeal. The ideal candidate will create visually stunning graphics, icons, and layouts that align with our brand identity and enhance user experience. Experience with Adobe Creative Suite and a strong portfolio</p>
        <a href="/" class="jobListingProfile"><img src="assets/pfp.png" class="jobListingProfilePicture"><span class="jobListingProfileName">Abdullah Mohammed</span></a>
        <button class="jobListingSettings"><img src="assets/dots.svg"></button>
    </div>

    <div class="jobListing lightBorder">
        <span class="jobListingTitle">Graphic Designer for Website Redesign</span>
        <span class="jobListingDate">05/11</span>
        <p class="jobListingShortDesc">We are seeking a talented graphic designer to revamp our website's visual appeal. The ideal candidate will create visually stunning graphics, icons, and layouts that align with our brand identity and enhance user experience. Experience with Adobe Creative Suite and a strong portfolio</p>
        <a href="/" class="jobListingProfile"><img src="assets/pfp.png" class="jobListingProfilePicture"><span class="jobListingProfileName">Abdullah Mohammed</span></a>
        <button class="jobListingSettings"><img src="assets/dots.svg"></button>
    </div>

    <div class="jobListing lightBorder">
        <span class="jobListingTitle">Graphic Designer for Website Redesign</span>
        <span class="jobListingDate">05/11</span>
        <p class="jobListingShortDesc">We are seeking a talented graphic designer to revamp our website's visual appeal. The ideal candidate will create visually stunning graphics, icons, and layouts that align with our brand identity and enhance user experience. Experience with Adobe Creative Suite and a strong portfolio</p>
        <a href="/" class="jobListingProfile"><img src="assets/pfp.png" class="jobListingProfilePicture"><span class="jobListingProfileName">Abdullah Mohammed</span></a>
        <button class="jobListingSettings"><img src="assets/dots.svg"></button>
    </div>

    <div class="jobListing lightBorder">
        <span class="jobListingTitle">Graphic Designer for Website Redesign</span>
        <span class="jobListingDate">05/11</span>
        <p class="jobListingShortDesc">We are seeking a talented graphic designer to revamp our website's visual appeal. The ideal candidate will create visually stunning graphics, icons, and layouts that align with our brand identity and enhance user experience. Experience with Adobe Creative Suite and a strong portfolio</p>
        <a href="/" class="jobListingProfile"><img src="assets/pfp.png" class="jobListingProfilePicture"><span class="jobListingProfileName">Abdullah Mohammed</span></a>
        <button class="jobListingSettings"><img src="assets/dots.svg"></button>
    </div>

    <div class="jobListing lightBorder">
        <span class="jobListingTitle">Graphic Designer for Website Redesign</span>
        <span class="jobListingDate">05/11</span>
        <p class="jobListingShortDesc">We are seeking a talented graphic designer to revamp our website's visual appeal. The ideal candidate will create visually stunning graphics, icons, and layouts that align with our brand identity and enhance user experience. Experience with Adobe Creative Suite and a strong portfolio</p>
        <a href="/" class="jobListingProfile"><img src="assets/pfp.png" class="jobListingProfilePicture"><span class="jobListingProfileName">Abdullah Mohammed</span></a>
        <button class="jobListingSettings"><img src="assets/dots.svg"></button>
    </div>

    <div class="jobListing lightBorder">
        <span class="jobListingTitle">Graphic Designer for Website Redesign</span>
        <span class="jobListingDate">05/11</span>
        <p class="jobListingShortDesc">We are seeking a talented graphic designer to revamp our website's visual appeal. The ideal candidate will create visually stunning graphics, icons, and layouts that align with our brand identity and enhance user experience. Experience with Adobe Creative Suite and a strong portfolio</p>
        <a href="/" class="jobListingProfile"><img src="assets/pfp.png" class="jobListingProfilePicture"><span class="jobListingProfileName">Abdullah Mohammed</span></a>
        <button class="jobListingSettings"><img src="assets/dots.svg"></button>
    </div>

    <div class="jobListing lightBorder">
        <span class="jobListingTitle">Graphic Designer for Website Redesign</span>
        <span class="jobListingDate">05/11</span>
        <p class="jobListingShortDesc">We are seeking a talented graphic designer to revamp our website's visual appeal. The ideal candidate will create visually stunning graphics, icons, and layouts that align with our brand identity and enhance user experience. Experience with Adobe Creative Suite and a strong portfolio</p>
        <a href="/" class="jobListingProfile"><img src="assets/pfp.png" class="jobListingProfilePicture"><span class="jobListingProfileName">Abdullah Mohammed</span></a>
        <button class="jobListingSettings"><img src="assets/dots.svg"></button>
    </div>

    <div class="jobListing lightBorder">
        <span class="jobListingTitle">Graphic Designer for Website Redesign</span>
        <span class="jobListingDate">05/11</span>
        <p class="jobListingShortDesc">We are seeking a talented graphic designer to revamp our website's visual appeal. The ideal candidate will create visually stunning graphics, icons, and layouts that align with our brand identity and enhance user experience. Experience with Adobe Creative Suite and a strong portfolio</p>
        <a href="/" class="jobListingProfile"><img src="assets/pfp.png" class="jobListingProfilePicture"><span class="jobListingProfileName">Abdullah Mohammed</span></a>
        <button class="jobListingSettings"><img src="assets/dots.svg"></button>
    </div>

    <div class="jobListing lightBorder">
        <span class="jobListingTitle">Graphic Designer for Website Redesign</span>
        <span class="jobListingDate">05/11</span>
        <p class="jobListingShortDesc">We are seeking a talented graphic designer to revamp our website's visual appeal. The ideal candidate will create visually stunning graphics, icons, and layouts that align with our brand identity and enhance user experience. Experience with Adobe Creative Suite and a strong portfolio</p>
        <a href="/" class="jobListingProfile"><img src="assets/pfp.png" class="jobListingProfilePicture"><span class="jobListingProfileName">Abdullah Mohammed</span></a>
        <button class="jobListingSettings"><img src="assets/dots.svg"></button>
    </div>

    <div class="jobListing lightBorder">
        <span class="jobListingTitle">Graphic Designer for Website Redesign</span>
        <span class="jobListingDate">05/11</span>
        <p class="jobListingShortDesc">We are seeking a talented graphic designer to revamp our website's visual appeal. The ideal candidate will create visually stunning graphics, icons, and layouts that align with our brand identity and enhance user experience. Experience with Adobe Creative Suite and a strong portfolio</p>
        <a href="/" class="jobListingProfile"><img src="assets/pfp.png" class="jobListingProfilePicture"><span class="jobListingProfileName">Abdullah Mohammed</span></a>
        <button class="jobListingSettings"><img src="assets/dots.svg"></button>
    </div>

    <div class="jobListing lightBorder">
        <span class="jobListingTitle">Graphic Designer for Website Redesign</span>
        <span class="jobListingDate">05/11</span>
        <p class="jobListingShortDesc">We are seeking a talented graphic designer to revamp our website's visual appeal. The ideal candidate will create visually stunning graphics, icons, and layouts that align with our brand identity and enhance user experience. Experience with Adobe Creative Suite and a strong portfolio</p>
        <a href="/" class="jobListingProfile"><img src="assets/pfp.png" class="jobListingProfilePicture"><span class="jobListingProfileName">Abdullah Mohammed</span></a>
        <button class="jobListingSettings"><img src="assets/dots.svg"></button>
    </div>

    <div class="jobListing lightBorder">
        <span class="jobListingTitle">Graphic Designer for Website Redesign</span>
        <span class="jobListingDate">05/11</span>
        <p class="jobListingShortDesc">We are seeking a talented graphic designer to revamp our website's visual appeal. The ideal candidate will create visually stunning graphics, icons, and layouts that align with our brand identity and enhance user experience. Experience with Adobe Creative Suite and a strong portfolio</p>
        <a href="/" class="jobListingProfile"><img src="assets/pfp.png" class="jobListingProfilePicture"><span class="jobListingProfileName">Abdullah Mohammed</span></a>
        <button class="jobListingSettings"><img src="assets/dots.svg"></button>
    </div> -->
    <button id="loadMoreBtn" class="themedBtn">Load More</button>
</div>