<div id="jobView" class="lightBorder">
    <div id="jobViewHeader">
        <div id="jobViewHeaderInfo">
            <span id="jobViewHeaderInfoTitle"></span>
            <span id="jobViewHeaderInfoSubtitle"></span>
        </div>
        <div id="jobHeaderBtn">
            <button id="quoteBtn" class="themedBtn" onclick="generateDialog('quote')">Quote</button>
            <span id="totalQuotes"></span>
        </div>
    </div>
    <div id="jobViewBody">
<pre id="jobViewBodyText">
</pre>
    </div>
</div>