<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Discussions: Freelance Dolphin</title>
    <!-- stylesheets -->
    <link rel="stylesheet" href="/stylesheets/general.css">
    <link rel="stylesheet" href="/stylesheets/sideHeader.css">
    <link rel="stylesheet" href="/stylesheets/dialog.css">
    <link rel="stylesheet" href="/stylesheets/discussion.css">
    <script src="https://cdn.socket.io/4.7.2/socket.io.min.js" integrity="sha384-mZLF4UVrpi/QTWPA7BjNPEnkIfRFn4ZEO3Qt/HFklTJBj/gBOV8G3HcKn4NfQblz" crossorigin="anonymous"></script>

    <link rel="apple-touch-icon" sizes="180x180" href="/apple-touch-icon.png">
    <link rel="icon" type="image/png" sizes="32x32" href="/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="/favicon-16x16.png">
    <link rel="manifest" href="/site.webmanifest">
    <link rel="mask-icon" href="/safari-pinned-tab.svg" color="#5bbad5">
    <meta name="msapplication-TileColor" content="#da532c">
    <meta name="theme-color" content="#ffffff">
    <script defer data-domain="dolphin.directory" src="https://plausible.io/js/script.js"></script>
    <link rel= “manifest” href= “manifest.json” />
</head>
<body>
    <div id="content">
        <div id="bottomHalf">

            <div id="leftBottomHalf">
                <button id="leftBottomHalfDrawer" class="responsiveDrawer lightBorder">&rsaquo;</button>
                <%- include('partials/sideHeader.ejs') %>
            </div>

            <div id="centerBottomHalf">
                <div id="discussionPanel">
                    <div id="discussionPanelHeader">
                        <button class="discussionPanelHeaderBtn lightBorder selected" onclick="filterDiscussions(this)">All</button>
                        <button class="discussionPanelHeaderBtn lightBorder" onclick="filterDiscussions(this)">Hired</button>
                        <button class="discussionPanelHeaderBtn lightBorder" onclick="filterDiscussions(this)">Quote</button>
                        <button class="discussionPanelHeaderBtn lightBorder" onclick="filterDiscussions(this)">Negotiation</button>
                        <button class="discussionPanelHeaderBtn lightBorder" onclick="filterDiscussions(this)">Dispute</button>
                    </div>
                    <div id="discussions">
                        <% if (data.discussions.length == 0) { %>
                        <span style="font-size: 24px; font-weight: bold;">No Discussions Found</span>
                        <% } %>
                    </div>
                </div>
            </div>

            <div id="rightBottomHalf">
                <button id="rightBottomHalfDrawer" class="responsiveDrawer lightBorder">&lsaquo;</button>
                <div id="discussionBoard">
                    <span id="discussionBoardTitle"></span>
                    <span id="discussionBoardSubtitle"></span>
                    <div id="dicussionMessages">
                        <% if (data.discussions.length == 0) { %>
                            <span style="font-size: 24px; font-weight: bold;">No Discussions Found</span>
                        <% } %>
                    </div>
                    <div id="discussionActions">
                        <div id="discussionActionsBtns">
                            <button class="discussionActionsBtn" style="display: none;" id="cancelNegotiationsBtn" onclick="generateDialog('deleteDiscussion')">Cancel Negotiations</button>
                            <button class="discussionActionsBtn" style="display: none;" id="createContractBtn" onclick="generateDialog('createContract')">Create Contract</button>
                            <button class="discussionActionsBtn" style="display: none;" id="finishJobBtn" onclick="generateDialog('finishJob')">Finish Job</button>
                            <button class="discussionActionsBtn" style="display: none;" id="createDisputeBtn" onclick="generateDialog('createDispute')">Create Dispute</button>
                            <button class="discussionActionsBtn" style="display: none;" id="createReviewBtn" onclick="generateDialog('createReview')">Create Review</button>
                            <button class="discussionActionsBtn" style="display: none;" id="resolveDisputeBtn" onclick="generateDialog('resolveDispute')">Resolve Dispute</button>
                        </div>
                        <div id="discussionInput" class="lightBorder">
                            <input type="text" placeholder="message" id="messageInput">
                            <input type="file" id="mediaFileInput" style="display: none;">
                            <button id="uploadMediaBtn">Upload</button>
                            <button id="sendMessageBtn" onclick="sendMessage()">Send</button>
                        </div>
                    </div>
                </div>
            </div>
            
        </div>
    </div>
    <%- include('partials/dialog.ejs') %>

    <script>
        window.pageData = <%- JSON.stringify(data) %>;
    </script>

    <!-- scripts -->
    <script src="/scripts/dialog.js"></script>
    <script src="/scripts/responsive.js"></script>
    <script src="/scripts/loggedIn.js"></script>
    <!-- <script src="/scripts/socket.io.min.js"></script> -->
    <script src="/scripts/discussion.js"></script>
    
</body>
</html>