<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Freelance Dolphin</title>
    <!-- stylesheets -->
    <link rel="stylesheet" href="stylesheets/general.css">
    <link rel="stylesheet" href="stylesheets/topHeader.css">
    <link rel="stylesheet" href="stylesheets/landing.css">
    <link rel="stylesheet" href="stylesheets/dialog.css">

</head>
<body>
    <div id="content">
        <div id="topHalf">
            <%- include('partials/topHeader.ejs') %>
        </div>
        <div id="bottomHalf">
            <div id="landingPage">
                <div id="landingIntro">
                    <img id="landingDesign" src="assets/landingDesign.svg">
                    <div id="landingContent">
                        <span id="landingTitle">Are you seeking someone to complete a one-time task without the commitment of traditional employment in Bahrain?</span>
                        <span id="landingSubtitle">Look no further; Freelance Dolphin is your solution!</span>
                        <button id="postJobBtn" class="themedBtn">Post Job to Freelancers</button>
                        <a href="/listings"><button id="jobListBtn" class="themedBtn">Find Jobs Instead</button></a>
                    </div>
                </div>
                <div id="FAQ">
                    <span id="FAQTitle">Frequently Asked Questions</span>
                </div>
                <div id="contactUs">
                    <div id="contactUsBtn" class="lightBorder">
                        <span>Do you have more questions?</span>
                        <span onclick="generateDialog('contact')">Contact Us</span>
                    </div>
                </div>
                <div id="footer" class="lightBorder">
                    <a href="/terms" class="footerURL">Terms</a>
                    <a href="/privacy" class="footerURL">Privacy</a>
                    <a class="footerURL" onclick="generateDialog('contact')">Contact</a>
                </div>
            </div>      
        </div>
    </div>
    <%- include('partials/dialog.ejs') %>

    <!-- scripts -->
    <script>
        window.pageData = <%- JSON.stringify(data) %>;
    </script>
    <script src="scripts/landing.js"></script>
    <script src="scripts/dialog.js"></script>
    <script src="scripts/loggedIn.js"></script>
</body>
</html>