#bottomHalf{
    justify-content: flex-start;
    gap: 40px;
}
#centerBottomHalf,#rightBottomHalf{
    display: flex;
    align-items: center;
    justify-content: center;
}
#centerBottomHalf{
    flex: 1;
}
@media screen and (max-width: 1400px) {
    #bottomHalf{
        justify-content: center;
        gap: 30px;
        padding: 0 20px;
        box-sizing: border-box;
    }
}
@media screen and (max-width: 900px) {
    
}