#jobView{
    width: min(35vw,700px);
    height: 100%;
    padding: 25px;
    box-sizing: border-box;
    border-bottom-left-radius: 0 !important;
    border-bottom-right-radius: 0 !important;
    border-radius: 20px;
    border-bottom: none;
    display: flex;
    flex-direction: column;
    gap: 20px;
    overflow: hidden;
    overflow-y: auto;
    background-color: white;
    box-shadow: 0px 0px 10px 0px rgba(0,0,0,0.1) inset;
}
#jobViewHeader{
    display: flex;
    gap: 20px;
    justify-content: space-between;
    align-content: center;
    align-items: center;
}
#jobViewHeaderInfo{
    display: flex;
    gap: 5px;
    flex-direction: column;
    width: 75%;
}
#jobViewHeaderInfoTitle{
    font-size: 22px;
    width: 100%;
    font-weight: bold;
}
#jobViewHeaderInfoSubtitle{
    font-size: 16px;
}
#jobHeaderBtn{
    display: flex;
    gap: 5px;
    flex-direction: column;
    align-items: center;
    align-content: center;
    width: 25%;
}
#quoteBtn{
    font-size: 24px;
    padding: 7px;
    font-weight: bold;
    width: 100%;
}
#totalQuotes{
    font-size: 14px;
    white-space: nowrap;
}
#jobViewBody{
    width: 100%;
}
#jobViewBodyText{
    white-space: pre-wrap;
    word-wrap: break-word;
    font-size: 20px;
}


@media screen and (max-width: 1400px) {
    #jobView{
        width: 45vw;
    }

}

@media screen and (max-width: 900px) {
    #jobView{
        width: 100%;
        padding: 10px;
        gap: 15px;
        border-radius: 10px;
    }
    #jobViewHeader{
        flex-direction: column;
        gap: 10px;
        align-items: flex-start;
    }
    #jobViewHeaderInfo{
        display: flex;
        width: 100%;
    }
    #jobViewHeaderInfoTitle{
        font-size: 18px;
/*         text-overflow: ellipsis;
        overflow: hidden;
        white-space: nowrap; */
    }
    #jobViewHeaderInfoSubtitle{
        font-size: 14px;
/*         text-overflow: ellipsis;
        overflow: hidden;
        white-space: nowrap; */
    }
    #jobHeaderBtn{
        width: 100%;
    }
    #quoteBtn{
        font-size: 20px;
        font-weight: bold;
    }
    #totalQuotes{
        font-size: 14px;
    }
    #jobViewBodyText{
        font-size: 18px;
    }
}