#bottomHalf{
    overflow: auto;
    overflow-x: hidden;
}
#landingPage{
    position: relative;
    width: 90vw;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 50px;
    
}
#landingIntro{
    position: relative;
    width: 100%;
    min-height: 90vh;
}
#landingContent{
    width: 550px;
    display: flex;
    flex-direction: column;
    margin-top: 60px;
    align-items: flex-start;
    gap: 10px;
}
#landingTitle{
    font-size: 40px;
    font-weight: 500;
    color: #222830;
}
#landingSubtitle{
    font-size: 24px;
    color: #222830;
}
#landingDesign{
    width: min(60vw,1200px);
    position: absolute;
    bottom: 0;
    right: min(5vw,100px);
    z-index: -1;
}
#postJobBtn{
    font-size: 30px;
    font-weight: bold;
    height: 75px;
    padding: 5px 25px;
    border-radius: 10px;
}
#jobListBtn{
    font-size: 20px;
    font-weight: bold;
    height: 50px;
    padding: 5px 25px;
    border-radius: 10px;
}
#FAQ{
    width: 100%;
    min-height: 70vh;
    display: flex;
    flex-direction: column;
    gap: 20px;
    justify-content: flex-start;
    align-items: center;
}
#FAQTitle{
    font-size: 40px;
    font-weight: bold;
    color: #222830;
}
.FAQ{
    width: 100%;
    border-radius: 10px;
    padding: 20px;
    cursor: pointer;
}
.question{
    font-weight: bold;
    display: block;
    font-size: 24px;
    color: #222830;
}
.answer{
    display: none;
    font-size: 20px;
    margin-top: 10px;
    color: #222830;
}
#contactUs{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    
}
#contactUsBtn{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 550px;
    border-radius: 10px;
    padding: 30px 20px;
    cursor: pointer;
}
#contactUs span:nth-child(1){
    font-size: 24px;
    color: #222830;
}
#contactUs span:nth-child(2){
    font-size: 48px;
    text-decoration: underline;
    font-weight: bold;
    color: #222830;
}

#footer{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    border-right: none;
    border-left: none;
    border-bottom: none;
    gap: 25px;
    padding: 10px 0;
}
.footerURL{
    font-size: 22px;
    font-weight: bold;
    color: #222830;
    cursor: pointer;
}
@media screen and (max-width: 1400px) {
    #landingDesign{
        right: 0px;
    }
}
@media screen and (max-width: 900px) {
    #landingContent{
        width: 325px;
        gap: 10px;
        margin-top: 30px;
    }
    #landingTitle{
        font-size: 30px;
    }
    #landingSubtitle{
        font-size: 16px;
    }

    #postJobBtn{
        font-size: 24px;
        height: 50px;
    }
    #jobListBtn{
        font-size: 16px;
        height: 35px;
    }
    #landingDesign{
        width: 400px;
        right: -100px;
        z-index: -1;
    }

    #FAQTitle{
        font-size: 24px;
    }
    .FAQ{
        padding: 10px;
    }
    .question{
        font-size: 18px;
    }
    .answer{
        font-size: 16px;
    }

    #contactUsBtn{
        width: 300px;
        padding: 20px 10px;
    }
    #contactUs span:nth-child(1){
        font-size: 20px;
    }
    #contactUs span:nth-child(2){
        font-size: 32px;
    }
    #footer{
        gap: 15px;
    }
    .footerURL{
        font-size: 18px;
    }
    
        

}