#jobSection{
    border: 2px solid #C2C2C2;
    border-radius: 20px;
    border-bottom-left-radius: 0px;
    border-bottom-right-radius: 0px;
}
#jobList{
    border: none;
}
#jobView{
    flex: 1;
    border: 2px solid #C2C2C2;
    border-radius: 20px !important;

}
#jobViewAndReviewDiv{
    height: 95%;
    display: flex;
    flex-direction: column;
    gap: 20px;
    background-color: white;
}
#jobHeaderBtn{
    display: none;
}
#loadMoreBtn{
    display: none;
}

#profileDiv{
    display: flex;
    flex-direction: column;
    gap: 20px;
    padding: 10px;
    box-sizing: border-box;
    height: 95%;
    width: 400px;
    justify-content: flex-start;
    align-items: center;
    border-radius: 20px;
    background-color: white;
    overflow: hidden;
    overflow-y: auto;
}
#profileSettings{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 90%;
}
#profileType{
    font-size: 20px;
    font-weight: bold;
    text-transform: capitalize;
}
#profileBtn{
    font-size: 20px;
    border: none;
    background-color: transparent;
    cursor: pointer;
}
#profileInfoDiv{
    display: flex;
    flex-direction: column;
    gap: 10px;
    justify-content: center;
    align-items: center;
    width: 90%;
}
#profileImg{
    height: 150px;
}
#profileName{
    font-size: 24px;
    font-weight: bold;
}
#profileBioDiv{
    height: 20%;
    width: 90%;
    padding: 10px;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    gap: 10px;
    border-radius: 20px;
    align-items: center;
    
}
#profileBioTitle{
    font-size: 20px;
    font-weight: bold;
}
#profileBio{
    font-size: 18px;
}
#profileSkillsDiv{
    display: flex;
    flex-direction: column;
    padding: 10px;
    height: 40%;
    width: 90%;
    border-radius: 20px;
    align-items: center;
    gap: 10px;
    box-sizing: border-box;

}
#profileSkillsTitle{
    font-size: 20px;
    font-weight: bold;
}
#profileSkills{
    width: 90%;
    height: 90%;
    border-radius: 20px;
    padding: 10px;
    box-sizing: border-box;
    display: flex;
    gap: 10px;
    flex-wrap: wrap;
    align-content: flex-start;

}
.profileSkill{
    padding: 2px 5px;
    border-radius: 5px;
    font-size: 16px;
    font-weight: 500;
    background-color: transparent;
    color: #222830;
}
#jobListTitle{
    font-size: 20px;
    font-weight: bold;
    margin-top: 10px;
    margin-bottom: -20px; 
    margin-left: 20px;
}
#socialsDiv{
    display: flex;
    width: 100%;
    gap: 10px;
}
#socialsDiv img{
    width: 25px;
}
@media screen and (max-width: 1400px) {
    #profileDiv{
        width: 30vw;
        height: 100%;
    }
}
@media screen and (max-width: 900px) {
    #jobListTitle{
        margin: 0;
    }
    #jobSection{
        border: none;
    }
    #jobList{
        border: 2px solid #C2C2C2;
    }
    #jobViewAndReviewDiv{
        height: 100%;
        width: 100%;
        border-radius: 20px;
        border: 2px solid #C2C2C2;
        padding: 10px;
        box-sizing: border-box;
    }
    #profileImg{
        height: 15vh;
    }
    #profileDiv{
        width: 100%;
        height: 100%;
    }
    #profileType{
        font-size: 18px;
    }
    #profileName{
        font-size: 20px;
    }
    #profileBioTitle{
        font-size: 18px;
    }
    #profileBio{
        font-size: 16px;
    }

}