#topHeader{
    width: 90vw;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
#topHeaderLogin{
    min-width: 150px;
    max-width: 250px;
    padding: 0 10px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    height: 50px;
    font-size: 22px;
    font-weight: bold;
}
@media screen and (max-width: 900px) {
    #topHeaderLogo{
        width: 120px;
    }
    #topHeaderLogin{
        min-width: 120px;
        max-width: 170px;
        padding: 0 10px;
        height: 40px;
        font-size: 18px;
    }
}